{% extends "base.html" %}

{% block content %}
{% if CREWMEMBER is defined %}
<p><span>First Name:</span> <span>{{ CREWMEMBER.FirstName }}</span></p>
<p><span>Last Name:</span> <span>{{ CREWMEMBER.LastName }}</span></p>
<p><span>Nickname:</span> <span>{{ CREWMEMBER.Nickname }}</span></p>
<p><span>Serial:</span> <span>{{ CREWMEMBER.Serial }}</span></p>
<p><span>Rank:</span> <span>{{ CREWMEMBER.Rank }}</span></p>
<p><span>Division:</span> <span>{{ CREWMEMBER.Division }}</span></p>
<p><span>Duties:</span> {% for i in CREWMEMBER.Duties %} <span>{{ i }}</span>&nbsp;{% endfor %}</p>
<a href="/crew/edit/{{ CREWMEMBER.Nickname }}">Modifica membro</a>
{% endif %}
{% endblock%}
